{
	"useTabs": true,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": { "parser": "astro" }
		},
		{
			"files": ["*.md", "*.json", "*.jsonc", "*.yml", "*.yaml"],
			"options": { "useTabs": false }
		}
	]
}
